[Unit]
Description=Titan FIL Agent
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/filtitanagent
ExecStart=/opt/filtitanagent/filagent --working-dir=/opt/filtitanagent --server-url=https://fil-agent-server-api.titannet.io --key=KEY
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
